/*! CSS Used from: https://flowbite.com/application-ui/demo/app.css */
*,:after,:before{border:0 solid;box-sizing:border-box;}
:after,:before{--tw-content:"";}
h1,h2,h3{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
:-moz-focusring{outline:auto;}
dd,dl,h1,h2,h3,p{margin:0;}
ol,ul{list-style:none;margin:0;padding:0;}
:disabled{cursor:default;}
img,svg{display:block;vertical-align:middle;}
img{height:auto;max-width:100%;}
.mngKhi_Rv06PF57lblDI{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.NM7Z1HBVjN_86WhEcXan{grid-column:span 2/span 2;}
.EWLTGduHCjFnjN6tLCXV{grid-column:1/-1;}
.XJih04pKHf8Cekga6Hj3{margin-top:1rem;}
.hD0sTTDgbxakubcHVW2X{margin-bottom:1rem;}
.fhCwost7CSNRc2WSHLFW{margin-right:.5rem;}
.iRFVFKvV59EjIwjCM62m{margin-top:.25rem;}
.Z3N7I2IDDsoXK6xJ1cSW{margin-bottom:.25rem;}
.c2LzVf9SsdSEMBrRjNwS{margin-left:.25rem;}
.TR_P65x9ie7j6uxFo_Cs{margin-bottom:.5rem;}
.gC_jEY75u_oxfOOKnLpH{margin-top:.5rem;}
.Td37IMFwOi4Zt3Vhv3cT{margin-bottom:1.25rem;}
.T1qzIiYBzxDgBnL9ISMF{margin-right:.625rem;}
.YRrCJSr_j5nopfm4duUc{display:flex;}
._k0lTW0vvzboctTxDi2R{display:inline-flex;}
.FF0B1uH_gtoM9lki9mia{display:flow-root;}
.xCPtuxM4_gihvpPwv9bX{display:grid;}
._SmdlCf6eUKB_V9S5IDj{display:none;}
.MnxxlQlR1H0xJuMEE8Yr{height:1.5rem;}
.rxe6apEJoEk8r75xaVNG{height:1.25rem;}
._o2IXcpM0qnG3JPReKus{height:1rem;}
.iRRyDh3hk0uKgmcxvdhD{height:.5rem;}
.v2F5G_Fm6X1wxdNJdQlJ{height:5rem;}
.t6gkcSf0Bt4MLItXvDJ_{width:100%;}
.ADSeKHR1DvUUA48Chci_{width:1.25rem;}
.YIUegm7fh_CpJbivTu6B{width:1.5rem;}
.E9GV5sZJIbfO_GEQ_moc{width:1rem;}
.XO0Hd72IH1CH2AVjcbWM{width:5rem;}
.DSinOeYMF_Gmwu9gOltI{max-width:65ch;}
.Nu4HUn5EQpnNJ1itNkrd{grid-template-columns:repeat(1,minmax(0,1fr));}
.hP1M5IgfjJiY8_B1VUN1{flex-wrap:wrap;}
.Q_jg_EPdNf9eDMn1mLI2{align-items:center;}
.Bcw8VuwRWYxPGjWjS6Ig{gap:1.5rem;}
.bNuwEJVjy8l4O1aX1zho{-moz-column-gap:1rem;column-gap:1rem;}
.cvkpv2bmXbOtb62ppyJC{row-gap:2rem;}
.wezTbYJgxYJp5ZDqX67N>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-bottom:calc(.25rem*var(--tw-space-y-reverse));margin-top:calc(.25rem*(1 - var(--tw-space-y-reverse)));}
.qDsn8ha5_HppqMcLKJwF>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-bottom:calc(1.5rem*var(--tw-space-y-reverse));margin-top:calc(1.5rem*(1 - var(--tw-space-y-reverse)));}
.tI6ZVpHcCWxY_MKHSQWC>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-bottom:calc(.75rem*var(--tw-space-y-reverse));margin-top:calc(.75rem*(1 - var(--tw-space-y-reverse)));}
.R0X5VtiZIoV7IjvrxBJ_>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(.25rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(.25rem*var(--tw-space-x-reverse));}
.hLiU_EU6hK5DGt8Nzo2B>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(.75rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(.75rem*var(--tw-space-x-reverse));}
.mveJTCIb2WII7J4sY22F{border-radius:.5rem;}
.RpVwy4sO7Asb86CncKJ_{border-radius:9999px;}
.W5n_NSFnC6y2nqoHw_5x{border-radius:.375rem;}
.WwS1mve_UI16RedcVHEs{--tw-bg-opacity:1;background-color:rgb(229 231 235/var(--tw-bg-opacity));}
._Ybd3WwuTVljUT4vEaM3{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity));}
.foDHZclRWUf2bqma2a8U{--tw-bg-opacity:1;background-color:rgb(17 24 39/var(--tw-bg-opacity));}
.YccXYy5sNIz6FJlLxw0D{--tw-bg-opacity:1;background-color:rgb(219 234 254/var(--tw-bg-opacity));}
.Dnqe3vvw22y12_oWDYvR{--tw-bg-opacity:1;background-color:rgb(222 247 236/var(--tw-bg-opacity));}
._wYiJGbRZyFZeCc8y7Sf{padding:1rem;}
.RZmKBZs1E1eXw8vkE6jY{padding-left:1rem;padding-right:1rem;}
._Cj_M6jt2eLjDgkBBNgI{padding-left:.75rem;padding-right:.75rem;}
.Qkdk47eO_FsOcXfaC9zb{padding-bottom:.375rem;padding-top:.375rem;}
.mlwbuv_bMkMhzTA3msA3{padding-top:1.5rem;}
.c8dCx6gnV43hTOLV6ks5{font-size:.875rem;line-height:1.25rem;}
.d3C8uAdJKNl1jzfE9ynq{font-size:1rem;line-height:1.5rem;}
.vyo_A8gnQD1QWDPglr3h{font-size:1.25rem;line-height:1.75rem;}
.y0nOgdpiqOUaFDbjAxwD{font-size:1.125rem;line-height:1.75rem;}
._43MO1gcdi2Y0RJW1uHL{font-weight:400;}
.yM_AorRf2jSON3pDsdrz{font-weight:600;}
.ezMFUVl744lvw6ht0lFe{font-weight:500;}
.IOPhczRgtphv6NdNBDjj{font-weight:700;}
.yo0GKAXAsUDIWsazc10y{font-style:normal;}
.PeR2JZ9BZHYIH8Ea3F36{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity));}
.__9sbu0yrzdhGIkLWNXl{--tw-text-opacity:1;color:rgb(17 24 39/var(--tw-text-opacity));}
.rYHHksRBEMl_guI3q0UQ{--tw-text-opacity:1;color:rgb(55 65 81/var(--tw-text-opacity));}
._JmTNv5EiHqK2A1jcQSf{--tw-text-opacity:1;color:rgb(156 163 175/var(--tw-text-opacity));}
.mbOxN7eW74XygTKQC_r3{--tw-text-opacity:1;color:rgb(30 64 175/var(--tw-text-opacity));}
.UptwuMAvsdRjvAaYNP6r{--tw-text-opacity:1;color:rgb(3 84 63/var(--tw-text-opacity));}
.mngKhi_Rv06PF57lblDI{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);}
.mngKhi_Rv06PF57lblDI{--tw-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);--tw-shadow-colored:0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);}
.ZnBoTVi7VOJdCLSSU62n:hover{--tw-text-opacity:1;color:rgb(17 24 39/var(--tw-text-opacity));}
@media (min-width:640px){
.wwofGIyK_H_z3Xjelq8G{grid-column:span 2/span 2;}
.rvdRhGyExrNYTA6euxsF{display:flex;}
.HD0QRNT3lUqWQhXP5VK8{flex:1 1 0%;}
.AqVNvLG_H6VHhym2yKMp{grid-template-columns:repeat(2,minmax(0,1fr));}
.SQf297smyJVNzzOO3iQL>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(1rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(1rem*var(--tw-space-x-reverse));}
._YxZw_O8dWkTljptcO7z{padding:1.5rem;}
.NdexIDe6BTJXjtSnppoV{font-size:1.5rem;line-height:2rem;}
}
@media (min-width:768px){
.EbR_B0tHyczsKYnc0ktU{margin-left:.5rem;}
._wDL7UcyA_Sot_H5YE7K{grid-template-columns:repeat(2,minmax(0,1fr));}
._iFJECkepxhZOUCU6Z2n{gap:4rem;}
.hPWJir4VhLurUkdR8iyI>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(.5rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(.5rem*var(--tw-space-x-reverse));}
}
@media (min-width:1024px){
._8_o7ahaIGkNXiF_VRG0{gap:2rem;}
}
@media (min-width:1280px){
.Atl0coQVHTfJeIp5DBNr{grid-column:auto;}
.QzGxlDe4W0Kn6V1Dkd6r{margin-bottom:.5rem;}
.xu6Xcz2CnxX04u4eQAne{display:block;}
.sIk4Wc5VFaQpncPF5Sx4{grid-template-columns:repeat(3,minmax(0,1fr));}
.AWLGIryfLKwkSeUZd4O6{gap:1rem;}
.LvH1cgobxEYMRPVAp8WW>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(0px*(1 - var(--tw-space-x-reverse)));margin-right:calc(0px*var(--tw-space-x-reverse));}
.seNju9ak6k60nJPVDVyn>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-bottom:calc(1rem*var(--tw-space-y-reverse));margin-top:calc(1rem*(1 - var(--tw-space-y-reverse)));}
.SWDELhWFjL8JxEtm91_o{padding:2rem;}
}
@media (min-width:1536px){
._AOthDwByeS52BU8oHsY{gap:6rem;}
}