/*! CSS Used from: https://flowbite.com/application-ui/demo/app.css */
*,:after,:before{border:0 solid;box-sizing:border-box;}
:after,:before{--tw-content:"";}
h1,h3{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
button,input,select{color:inherit;font-family:inherit;font-size:100%;line-height:inherit;margin:0;padding:0;}
button,select{text-transform:none;}
[type=submit],button{-webkit-appearance:button;background-color:transparent;background-image:none;}
:-moz-focusring{outline:auto;}
h1,h3,p{margin:0;}
ol,ul{list-style:none;margin:0;padding:0;}
input::-moz-placeholder{color:#9ca3af;}
input:-ms-input-placeholder{color:#9ca3af;}
input::placeholder{color:#9ca3af;}
button{cursor:pointer;}
:disabled{cursor:default;}
img,svg{display:block;vertical-align:middle;}
img{height:auto;max-width:100%;}
.pXhVRBC8yaUNllmIWxln,.Zy1Pypi71Xu6guex6urN>*{--tw-border-opacity:1;border-color:rgb(229 231 235/var(--tw-border-opacity));}
.fzhbbDQ686T8arwvi_bJ,.mngKhi_Rv06PF57lblDI{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
._dylIDxYTN3qgvD4U597{--tw-ring-inset:var(--tw-empty, );--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(63,131,248,.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
[type=email],[type=number],[type=text],select{--tw-shadow:0 0 #0000;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-color:#6b7280;border-radius:0;border-width:1px;font-size:1rem;line-height:1.5rem;padding:.5rem .75rem;}
[type=email]:focus,[type=number]:focus,[type=text]:focus,select:focus{--tw-ring-inset:var(--tw-empty, );--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#1c64f2;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);border-color:#1c64f2;box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);outline:2px solid transparent;outline-offset:2px;}
input::-moz-placeholder{color:#6b7280;opacity:1;}
input:-ms-input-placeholder{color:#6b7280;opacity:1;}
input::placeholder{color:#6b7280;opacity:1;}
select{-webkit-print-color-adjust:exact;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");background-position:right .5rem center;background-repeat:no-repeat;background-size:1.5em 1.5em;color-adjust:exact;padding-right:2.5rem;}
[type=checkbox]{-webkit-print-color-adjust:exact;--tw-shadow:0 0 #0000;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;background-origin:border-box;border-color:#6b7280;border-width:1px;color:#1c64f2;color-adjust:exact;display:inline-block;flex-shrink:0;height:1rem;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;width:1rem;}
[type=checkbox]{border-radius:0;}
[type=checkbox]:focus{--tw-ring-inset:var(--tw-empty, );--tw-ring-offset-width:2px;--tw-ring-offset-color:#fff;--tw-ring-color:#1c64f2;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);outline:2px solid transparent;outline-offset:2px;}
[type=checkbox]:checked{background-color:currentColor;background-position:50%;background-repeat:no-repeat;background-size:100% 100%;border-color:transparent;}
[type=checkbox]:checked{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");}
.pZ06BCBBhEiS8JGgQDKV:after{background:#fff;border-color:#d1d5db;border-radius:9999px;border-width:1px;box-shadow:var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);content:"";height:1.25rem;left:.125rem;position:absolute;top:.125rem;transition-duration:.15s;transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;width:1.25rem;}
input:checked+.pZ06BCBBhEiS8JGgQDKV:after{border-color:#fff;transform:translateX(100%);}
input:checked+.pZ06BCBBhEiS8JGgQDKV{background:#1c64f2;border-color:#1c64f2;}
._DVAfiyo21kM68EUVzEQ{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px;}
.ahOqFrhzLjivRe8a1kX_{position:relative;}
.NM7Z1HBVjN_86WhEcXan{grid-column:span 2/span 2;}
._P4crYcwEj3d10LO5o8N{grid-column:span 6/span 6;}
.EWLTGduHCjFnjN6tLCXV{grid-column:1/-1;}
.EyjJPKD7jgGRBhaLpRVI{margin-bottom:1.5rem;}
.R9nujHypnXyuHrBww9QK{margin-right:.75rem;}
.hD0sTTDgbxakubcHVW2X{margin-bottom:1rem;}
.fhCwost7CSNRc2WSHLFW{margin-right:.5rem;}
.Z3N7I2IDDsoXK6xJ1cSW{margin-bottom:.25rem;}
.ZEPNZzATe5nPnS0shmrF{margin-left:-.25rem;}
.c2LzVf9SsdSEMBrRjNwS{margin-left:.25rem;}
.TR_P65x9ie7j6uxFo_Cs{margin-bottom:.5rem;}
._hpGev6RXFut0Jm_iRgf{margin-bottom:.75rem;}
.lK4YcZMYuPJXBsFBM5Hv{margin-top:1.5rem;}
.Td37IMFwOi4Zt3Vhv3cT{margin-bottom:1.25rem;}
.T1qzIiYBzxDgBnL9ISMF{margin-right:.625rem;}
._qjblX_txtOQqv_KS58Z{margin-bottom:.125rem;}
._Vb9igHms0hI1PQcvp_S{display:block;}
.YRrCJSr_j5nopfm4duUc{display:flex;}
._k0lTW0vvzboctTxDi2R{display:inline-flex;}
.FF0B1uH_gtoM9lki9mia{display:flow-root;}
.xCPtuxM4_gihvpPwv9bX{display:grid;}
.MnxxlQlR1H0xJuMEE8Yr{height:1.5rem;}
.rxe6apEJoEk8r75xaVNG{height:1.25rem;}
._o2IXcpM0qnG3JPReKus{height:1rem;}
.nRgpYtDXPa8Sk01AYTQr{height:7rem;}
.t6gkcSf0Bt4MLItXvDJ_{width:100%;}
.ADSeKHR1DvUUA48Chci_{width:1.25rem;}
.YIUegm7fh_CpJbivTu6B{width:1.5rem;}
.Rr_S4jo1he4sYSgq5LE_{width:2.75rem;}
.E9GV5sZJIbfO_GEQ_moc{width:1rem;}
.IxVXJAn2ZWxXpcIHvPnh{width:7rem;}
._QV5Y5YHkBJZSFfAsN1O{width:auto;}
.G4dLHP1O7x3gaD0_p7Kc{min-width:0;}
._74lpPUMEtHf6F0_fjLe{flex:1 1 0%;}
.VQS2tmQ_zFyBOC2tkmto{flex-shrink:0;}
.POuUxRn_2mImkG0xUuUT{flex-grow:1;}
.SA5DoMHfwOFtY4h_qzuM{cursor:pointer;}
.Nu4HUn5EQpnNJ1itNkrd{grid-template-columns:repeat(1,minmax(0,1fr));}
.xcwgeeZbzBfzbYbc32HH{grid-template-columns:repeat(6,minmax(0,1fr));}
.e8VqoQNK0mbkRFDL3LMV{flex-direction:column;}
.Q_jg_EPdNf9eDMn1mLI2{align-items:center;}
.sJNGKHxFYdN5Nzml5J2j{justify-content:space-between;}
.Bcw8VuwRWYxPGjWjS6Ig{gap:1.5rem;}
.wezTbYJgxYJp5ZDqX67N>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-bottom:calc(.25rem*var(--tw-space-y-reverse));margin-top:calc(.25rem*(1 - var(--tw-space-y-reverse)));}
.d4louhNic5PFgJGRKqn6>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(1rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(1rem*var(--tw-space-x-reverse));}
.R0X5VtiZIoV7IjvrxBJ_>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(.25rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(.25rem*var(--tw-space-x-reverse));}
.Zy1Pypi71Xu6guex6urN>:not([hidden])~:not([hidden]){--tw-divide-y-reverse:0;border-bottom-width:calc(1px*var(--tw-divide-y-reverse));border-top-width:calc(1px*(1 - var(--tw-divide-y-reverse)));}
.NIAblPiyeuYQ0zW671xb>:not([hidden])~:not([hidden]){--tw-divide-opacity:1;border-color:rgb(229 231 235/var(--tw-divide-opacity));}
.vfNYjqjYMlN1XskEucCt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mveJTCIb2WII7J4sY22F{border-radius:.5rem;}
.RpVwy4sO7Asb86CncKJ_{border-radius:9999px;}
.pXhVRBC8yaUNllmIWxln{border-width:1px;}
.qUWbS_LTZujDB4XCd11V{--tw-border-opacity:1;border-color:rgb(229 231 235/var(--tw-border-opacity));}
.vpDN1VEJLu5FmLkr5WCk{--tw-border-opacity:1;border-color:rgb(209 213 219/var(--tw-border-opacity));}
.WwS1mve_UI16RedcVHEs{--tw-bg-opacity:1;background-color:rgb(229 231 235/var(--tw-bg-opacity));}
._Ybd3WwuTVljUT4vEaM3{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity));}
.jtAJHOc7mn7b4IKRO59D{--tw-bg-opacity:1;background-color:rgb(249 250 251/var(--tw-bg-opacity));}
.g40_g3BQzYCOX5eZADgY{--tw-bg-opacity:1;background-color:rgb(29 78 216/var(--tw-bg-opacity));}
._wYiJGbRZyFZeCc8y7Sf{padding:1rem;}
.olxDi3yL6f0gpdsOFDhx{padding:.625rem;}
.RZmKBZs1E1eXw8vkE6jY{padding-left:1rem;padding-right:1rem;}
._Cj_M6jt2eLjDgkBBNgI{padding-left:.75rem;padding-right:.75rem;}
.b9aD6g2qw84oyZNsMO8j{padding-bottom:.5rem;padding-top:.5rem;}
.ZjWEEmDsdPvU2GdH53LK{padding-left:1.25rem;padding-right:1.25rem;}
.cexDVMRjens2nRrMcG96{padding-bottom:.625rem;padding-top:.625rem;}
._9igzqn_6D3Qq5Hcwkfk{padding-bottom:1rem;padding-top:1rem;}
.RLVemQvbW8bmzNf3KoDP{padding-top:.5rem;}
.mlwbuv_bMkMhzTA3msA3{padding-top:1.5rem;}
.gyULXFQVgjg7SZF8X3HH{padding-bottom:1.5rem;}
.LTEDJh4s7gPtSmaVhWcH{padding-left:1rem;}
.p_2EXc_a2sDA_h41l8QU{padding-top:1rem;}
.ijrOHNoSVGATsWYKl4Id{text-align:center;}
.c8dCx6gnV43hTOLV6ks5{font-size:.875rem;line-height:1.25rem;}
.q1oXbofRCOhVhOSB8tiU{font-size:1.5rem;line-height:2rem;}
.d3C8uAdJKNl1jzfE9ynq{font-size:1rem;line-height:1.5rem;}
.gMXmdpOPfqG_3CKkL0VD{font-size:.75rem;line-height:1rem;}
.vyo_A8gnQD1QWDPglr3h{font-size:1.25rem;line-height:1.75rem;}
.y0nOgdpiqOUaFDbjAxwD{font-size:1.125rem;line-height:1.75rem;}
._43MO1gcdi2Y0RJW1uHL{font-weight:400;}
.yM_AorRf2jSON3pDsdrz{font-weight:600;}
.ezMFUVl744lvw6ht0lFe{font-weight:500;}
.IOPhczRgtphv6NdNBDjj{font-weight:700;}
.wgkxUJNDca22__ptDPRh{line-height:1;}
.PeR2JZ9BZHYIH8Ea3F36{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity));}
.__9sbu0yrzdhGIkLWNXl{--tw-text-opacity:1;color:rgb(17 24 39/var(--tw-text-opacity));}
.rYHHksRBEMl_guI3q0UQ{--tw-text-opacity:1;color:rgb(55 65 81/var(--tw-text-opacity));}
.y6GKdvUrd7vp_pxsFb57{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity));}
.OQflBVxALl1Ntbyc2J2_{--tw-text-opacity:1;color:rgb(29 78 216/var(--tw-text-opacity));}
._JmTNv5EiHqK2A1jcQSf{--tw-text-opacity:1;color:rgb(156 163 175/var(--tw-text-opacity));}
.mngKhi_Rv06PF57lblDI{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);}
.mngKhi_Rv06PF57lblDI{--tw-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);--tw-shadow-colored:0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);}
.fzhbbDQ686T8arwvi_bJ{--tw-shadow:0 1px 2px 0 rgba(0,0,0,.05);--tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);}
._7KA5gD55t2lxf9Jkj20:hover{--tw-bg-opacity:1;background-color:rgb(243 244 246/var(--tw-bg-opacity));}
.YoPCmQ0E_V5W0GGmSIdm:hover{--tw-bg-opacity:1;background-color:rgb(30 64 175/var(--tw-bg-opacity));}
.ZnBoTVi7VOJdCLSSU62n:hover{--tw-text-opacity:1;color:rgb(17 24 39/var(--tw-text-opacity));}
.oJZU4OQzzfXeLbF7UKZ_:hover{text-decoration:underline;}
.LceKfSImrGKQrtDGkpBV:focus{--tw-border-opacity:1;border-color:rgb(59 130 246/var(--tw-border-opacity));}
._dylIDxYTN3qgvD4U597:focus{box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);}
._dylIDxYTN3qgvD4U597:focus{--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);}
.GdTcGtoKP5_bET3syLDl:focus{--tw-ring-opacity:1;--tw-ring-color:rgb(59 130 246/var(--tw-ring-opacity));}
.KmgKPWh7pHX4ztLneO0T:focus{--tw-ring-opacity:1;--tw-ring-color:rgb(147 197 253/var(--tw-ring-opacity));}
@media (min-width:640px){
.DlUdveMmz1SkMYd217vD{grid-column:span 3/span 3;}
.tkZo48dB4RhnHSlDXzoe{margin-bottom:0;}
.rvdRhGyExrNYTA6euxsF{display:flex;}
.SQf297smyJVNzzOO3iQL>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(1rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(1rem*var(--tw-space-x-reverse));}
._YxZw_O8dWkTljptcO7z{padding:1.5rem;}
.gx_pYWtAG2cJIqhquLbx{font-size:.875rem;line-height:1.25rem;}
.NdexIDe6BTJXjtSnppoV{font-size:1.5rem;line-height:2rem;}
}
@media (min-width:768px){
.EbR_B0tHyczsKYnc0ktU{margin-left:.5rem;}
.hPWJir4VhLurUkdR8iyI>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(.5rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(.5rem*var(--tw-space-x-reverse));}
}
@media (min-width:1280px){
.Atl0coQVHTfJeIp5DBNr{grid-column:auto;}
.roTtmJKSiubwdmgJkwrv{margin-bottom:0;}
.QzGxlDe4W0Kn6V1Dkd6r{margin-bottom:.5rem;}
.RO6axy6tLw1YpZ9T54F_{margin-bottom:1rem;}
.xu6Xcz2CnxX04u4eQAne{display:block;}
.V8KaaSaw8llOOjV7vwuc{width:100%;}
.sIk4Wc5VFaQpncPF5Sx4{grid-template-columns:repeat(3,minmax(0,1fr));}
.h6ZjYPWLn_mAxjSYNWsM{grid-template-columns:repeat(2,minmax(0,1fr));}
.AWLGIryfLKwkSeUZd4O6{gap:1rem;}
.LvH1cgobxEYMRPVAp8WW>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(0px*(1 - var(--tw-space-x-reverse)));margin-right:calc(0px*var(--tw-space-x-reverse));}
.SWDELhWFjL8JxEtm91_o{padding:2rem;}
}
@media (min-width:1536px){
._5qVeTKgUlNIvLfYDjop{margin-bottom:0;}
._Zd6CFkEZSNEHC9TBkyE{display:flex;}
.VOQfaV0lXxNYPtugcadK{width:auto;}
.fxDO_pTRQLZKehDay_Tf>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-left:calc(1rem*(1 - var(--tw-space-x-reverse)));margin-right:calc(1rem*var(--tw-space-x-reverse));}
}